# Environment variables for the server application
PORT=5000
#MONGO_URI=mongodb://127.0.0.1:27017/my-todo-app 
MONGO_URI=mongodb://mongo:27017/my-todo-app
#MONGO_URI=mongodb+srv://vishnaka23_db_user:<vishnaka23_db_user>@cluster0.bqnsnwz.mongodb.net/?appName=Cluster0
CLIENT_ORIGIN=http://localhost