# Environment variables for the server application
PORT=5000
MONGO_URI=mongodb://mongo:27017/my-todo-app #make sure to update this to the correct MongoDB URI when deploying the application
CLIENT_ORIGIN=http://localhost:5173 #make sure to update this to the correct client origin URL when deploying the application